.hero {
    /* width: 1440px; */
    height: 782px;
    padding-top: 152px;
    background-color: #f8f8f8;


}

.hero .heroContent {
    width: 721px;
    height: 405px;
    position: absolute;
    margin-top: 27px;
    margin-left: 98px;
}


.hero .heroContent button {
    display: flex;
    align-items: center;
    background-color: #ffb727;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;


}

.hero .heroContent h1 {
    font-size: 42px;
    font-weight: 800;
    font-family: "Satisfy", serif;

}

.hero .heroContent p {
    color: rgb(129, 127, 127)
}

.hero .heroContent a {
    text-decoration: none;
}




.hero .ellipse1 {
    box-sizing: border-box;
    position: absolute;
    width: 22.83px;
    height: 21.58px;
    left: 57.39px;
    top: 192.47px;
    border: 2px solid rgba(255, 180, 0, 0.8);
    border-radius: 90%;
}

.hero .ellipse2 {
    box-sizing: border-box;
    position: absolute;
    width: 22.83px;
    height: 21.58px;
    left: 796.42px;
    top: 664.58px;
    border: 2px solid rgba(255, 180, 0, 0.8);
    border-radius: 90%;
}

.hero .ellipse3 {

    box-sizing: border-box;

    position: absolute;
    width: 22.83px;
    height: 21.58px;
    left: 125.89px;
    top: 721.29px;

    border: 2px solid rgba(5, 255, 0, 0.8);
    border-radius: 90%;

}

.hero .ellipse4 {

    box-sizing: border-box;

    position: absolute;
    width: 22.83px;
    height: 21.58px;
    left: 742.39px;
    top: 222.15px;

    border: 2px solid rgba(5, 255, 0, 0.8);

    border-radius: 90%;

}
.hero .rectangle1 {

  
box-sizing: border-box;

position: absolute;
width: 22.6px;
height: 21.83px;
left: 543.78px;
top: 601.23px;

border: 2px solid rgba(0, 71, 255, 0.8);
transform: matrix(0.91, 0.42, -0.46, 0.89, 0, 0);


}
.hero .rectangle2 {

box-sizing: border-box;

position: absolute;
width: 22.6px;
height: 21.83px;
left: 1288.19px;
top: 245.97px;

border: 2px solid rgba(255, 180, 0, 0.8);
transform: matrix(0.91, 0.42, -0.46, 0.89, 0, 0);


}
.hero .triangle {
    box-sizing: border-box;

    position: absolute;
    width: 0; 
    height: 0; 
    left: 1314.64px;
    top: 728.04px;

   
    border-left: 11.415px solid transparent;
    border-right: 11.415px solid transparent; 
    border-bottom: 21.58px solid rgba(255, 46, 0, 0.8); 
}




.hero .image{

    position: absolute;
    width: 808.01px;
    height: 550.41px;
    left: 631.68px;
    top: 231.59px;
    
}
