.navbar{
    position:fixed;
    width: 100%;
    height:76px;
    padding:38px 96px 38px 96px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: white;;
    z-index: 1;
    padding: 38px 96px;
    box-sizing: border-box; 
}

.navbar .navbarLogo img{
    width:158px;
    height:76px;
}


.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    width:604px;
    height:37px;
    gap: 30px;
  }

 .navbar a,
 .navbar a:focus {
   display: flex;
   align-items: center;
   color:black;
   white-space: nowrap;
   transition: 0.3s;
   font-size: 12px;
   font-family: "Raleway", sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   text-decoration: none;
   padding: 6px;
   
 }



 .navbar a:hover,
 .navbar li:hover>a {
   background-color: #ffb727;
   border-radius: 4px;
 }



